#container
  #content
    %h1 Kontakt
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:valign => "top", :width => "50%"}
          %h2 Kontaktni podatki
          #contact
            Zofija Škrabl
            %br/
            %br/
            E-mail:
            %ul
              %li info@n-angelina.si
              %li zofija@n-angelina.si
              %li zofi.skrabl@siol.net
            %br/
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "300px"}
              %tr
                %td{:valign => "top"}
                  Telefon:
                %td +386 (0)82 051 950
              %tr
                %td{:valign => "top"}
                  Fax:
                %td +386 (0)82 051 353
              %tr
                %td{:valign => "top"}
                  GSM:
                %td +386 (0)51 346 872
        %td{:valign => "top"}
          %h2 Naslov
          #contact
            %b NOČITVE ANGELINA
            %br/
            Zofija Škrabl s.p.
            %br/
            Topole 17 A
            %br/
            3250 Rogaška Slatina
            %br/
            SLOVENIJA - EU
            %br/
