#container
  #content
    %h1 Über uns
    %h2 Nočitve Angelina
    %p Appartements Angelina befinden sich in einem gemütlichen Dörfchen namens Topole, das 2 km vom Zentrum von Rogaška Slatina entfernt ist. Beherbergungskomplex befindet sich in unberührt belassener Natur bei gemütlichem Heim der Familie Škrabl, die in diesem Jahr den 20. Gründungstag der Orgelbauwerkstatt feiert. Dieses Jubiläum begeht sie auch mit einer Vielgestaltigkeit auf dem Gebiet des Übernachtungsangebotes. Von Appartements hat man eine wunderschöne Aussicht auf herrliche Slowenische Landschaft, vom Berggebiet von Kozjansko bis zu Steiner Alpen und Nachbarsland Kroatien. In Armen der Natur und vollkommener Stille finden Seele und Körper wieder ihre wohltuende Ruhe. Die Gäste haben die Möglichkeit, sich in wunderschönen Zimmern, beheiztem Massagebad, Sauna, bei der Massage und in der angenehmen Vinothek mithilfe des slowenischen edlen Weintropfens zu entspannen.
    %p Eine Vielzahl der Leistungsangebote ist mit der Natur und mit dem Hauch der Musikharmonie verbunden. Neben Appartements haben individuelle Gäste und verschiedene Gruppen Möglichkeit, sich vielfältig fortzubilden. Alle Gäste sind auch herzlich eingeladen, die Orgelbauwerkstatt Škrabl zu besichtigen, wo sie sehen können, wie eine klassische Orgel entsteht, die zu Recht den Namen Königin der Musikinstrumente erhalten hat.
