#container
  #content
    %h1 O nas
    %h2 Nočitve Angelina
    %p Nočitve Angelina se nahajajo v prijetni vasici Topole, katera ja oddaljena 2 km od središča Rogaške Slatine.  Prenočitven kompleks se nahaja v neokrnjeni naravi ob prijetnem domovanju družine Škrabl.
    %h2 Družina Škrabl
    %p
      Družina Škrabl se že več kot dvajset let ukvarja z ustvarjanjem orgel.
      Poleg te dejavnosti pa smo popestrili tudi ponudbo na področju prenočitev.
      Iz Nočitev Angelina se odpre prekrasen razgled na prečudovito slovensko pokrajino vse od Kozjanskega hribovja tja do Kamniških Alp in v sosednjo Hrvaško.
      V objemu narave in popolnega miru najdeta duša in telo zopet svoj mir. Gosti imajo možnost sprostitve v prekrasnih sobah, v masažnem ogrevanem bazenu, v savni,
      v masaži in v prijetni vinoteki ob prvovrstni slovenski vinski kapljici. Celovrstna ponudba storitev je povezana z naravo in s pridihom glasbene harmonije.
      V Nočitvah Angelina imajo individualni gostje in razne skupine priložnost različnega izobraževanja. Vsi gostje so tudi vljudno vabljeni na ogled orglarske delavnice Škrabl, kjer spoznavajo kako nastajajo klasične orgle, katere so upravičeno prejele vzdevek
      = succeed "." do
        %a kraljica glasbenih instrumentov
    %div{:align => "center", :style => "margin:20px 0 10px 0;"}
      %a{:href => "http://www.skrabl.com", :style => "border:0;"}
        = image_tag('sponsors/skrabl_logo.png')
      %br/
      %br/
      %a{:href => "http://www.skrabl.com"} www.skrabl.com
