#container
  #content
    %h1 О нас
    %h2 Пансион Nočitve Angelina
    %p Пансион Nočitve Angelina располагается в очень уютной деревеньке Тополе, находящейся всего в двух  километрах от сердцевины Рогашки Слатины. Лежит он среди нетронутой девственной природы,  в приятном соседстве с домом семьи Шкрабл.  В этом году семья Шкрабл празднует 20 летний юбилей производства музыкального инструмента – орган.
    %p Это событие окрашено также обогащенной программой в области проживания.  Из пансиона открывается восхитительный вид на местные словенские окрестности, начиная с Козианских холмов до Камнишких Альп, а также в соседнюю Хорватию.  В объятиях тихой природы и полного спокойствия душа и тело снова обретают мир.  Гостям предоставляется возможность расслабляющего отдыха в отличных номерах, в массажном подогретом бассейне, в сауне, на массаже,  а также в словенской винотеке за бокалом отличного вина.
    %p Полное предложение услуг переплетается с природой и гармонией музыкальных веяний.  Помимо проживания в пансионе, как для индивидуальных гостей так и для групп предлагаются различные виды обучения.  Все гости приглашены на осмотр мастерской Шкрабл, где можно увидеть и понять как рождается классический музыкальный инструмент – орган, заслуженно получивший название короля музыкальных инструментов.
