#container
  #content
    %h1 Chi Siamo
    %h2 Residenza Angelina
    %p La »Residenza Angelina« si trova in un villaggio idilliaco, Topole, a soli 2 km di distanza dal centro di Rogaška Slatina. Gli appartamenti sono situati in mezzo alla natura intatta, di fronte alla piacevole abitazione della famiglia Škrabl che in quest'anno festeggia il 20-esimo anniversario della fabbricazione d'organi.
    %p Questo giubileo verrà festeggiato anche con l'apertura delle strutture di pernottamento. Dalla »Residenza Angelina« si gode una bellissima vista della regione: delle colline di Kozjansko, fino ai monti delle Alpi Giulie e verso la Croazia. Nella natura e tranquillità il corpo e l'anima ritroveranno pace e quiete. I nostri ospiti potranno rilassarsi nelle camere comode e moderne, nella jacuzzi con l'acqua riscaldata, nella sauna, facendo qualche massaggio o assaggiando i vini di classe della Slovenia.
