#container
  #content
    %p= image_tag "pictures/mini.jpg", :align => "right", :style => "margin:40px 20px 0 0;", :width => "300px"
    %h1 Appartements Angelina
    %p{:style => "width:500px;"}
      Befinden sich in einem gemütlichen Dörfchen namens Topole, das 2 km vom Zentrum von Rogaška Slatina entfernt ist. Beherbergungskomplex befindet sich in unberührt belassener Natur bei gemütlichem Heim der Familie Škrabl, die sich schon über zwanzig Jahren mit der Anfertigung der Orgeln beschäftigt. Neben dieser Tätigkeit hat sie aber auch das Übernachtungsangebot vielfältiger gemacht.
    %br/
    %p
      Von Appartements hat man eine wunderschöne Aussicht auf herrliche Slowenische Landschaft, vom Berggebiet von Kozjansko bis zu Steiner Alpen und Nachbarsland Kroatien. In Armen der Natur und vollkommener Stille finden Seele und Körper wieder ihre wohltuende Ruhe. Die Gäste haben die Möglichkeit, sich in wunderschönen Zimmern, beheiztem Massagebad, Sauna, bei der Massage und in der angenehmen Vinothek mithilfe des slowenischen edlen Weintropfens zu entspannen.
    %br/
    %p
      Eine Vielzahl der Leistungsangebote ist mit der Natur und mit dem Hauch der Musikharmonie verbunden. Neben Appartements haben individuelle Gäste und verschiedene Gruppen Möglichkeit, sich vielfältig fortzubilden. Alle Gäste sind auch herzlich eingeladen, die Orgelbauwerkstatt Škrabl zu besichtigen, wo sie sehen können, wie eine klassische Orgel entsteht, die zu Recht den Namen Königin der Musikinstrumente erhalten hat.
    %br/
    %br/
    %h2 Wir bieten:
    %ul{:style => "margin-left:15px;"}
      %li Übernachtung mit Frühstück
      %li beheiztes Massagebad für 7 Personen
      %li Sauna für 6 Personen
      %li professionellen Massagestuhl
      %li Vinothek mit Spitzenweinen
      %li Erfrischungsraum
      %li Möglichkeit der Fahrrad- und Autoausleihe
      %li Beförderungen der Gäste von Flughäfen oder von anderen Stellen
      %li organisierte Ausflüge
      %li Möglichkeit der Spaziergänge und Wanderungen
      %li Slowenische Kulinarik im Gasthaus Jurg – zu Fuß 10 Minuten, mit dem Auto 5 Minuten
      %li organisierte Besichtigungen des Orgelbauwerkstattes Škrabl
