#container
  #content
    %p= image_tag "pictures/mini.jpg", :align => "right", :style => "margin:40px 20px 0 0;", :width => "300px"
    %h1 ROOMS AND APARTMENTS with BREAKFAST
    %p{:style => "width:500px;"}
      Rooms and apartments with breakfast is located in the picturesque village of Topole, only 2 kilometres from the centre of Rogaška Slatina. As well as offering superb modern accommodation in one of the most beautiful parts of Europe, for more than 20 years the Škrabl family have been producing some the world’s finest pipe organs in their factory in nearby Brestovec.
    %br/
    %br/
    %br/
    %br/
    %p
      We are situated in lush countryside within the Škrabl family property.
      Take a step outside the door of your room and be enchanted by the beautiful
      panoramic view of the magnificent Slovenian landscape, including the hills of
      Kozjansko and KamniškeAlpe and across to neighbouring Croatia. In this wonderful
      sitting, your body and soul will find peace and renewal. Our guests can relax in
      beautiful, spacious en-suite rooms which are superbly furnished, and are invited
      to use the heated jacuzzi, sauna and massage chair. Guests are also invited to take
      a moment to visit our wine cellar where they can taste a range of excellent Slovene wines.
    %p
      The experience which Angelina Rooms and Apartments offers is one of beauty in natural surroundings and a sense of harmony.
      We are delighted to welcome individual guests or groups to experience this for themselves.
      Groups can also make use of our meeting facility located near the rooms.
      All guests are kindly invited to visit the Škrabl Organ Workshop, where they will learn about building a classical pipe organ,
      an instrument which has, justifiably, gained the title of,
      The King of Musical Instruments.
    %h2 We Offer:
    %ul{:style => "margin-left:15px;"}
      %li
        Bed and breakfast
      %li
        Heated massage pool for 6 people
      %li
        Professional massage chair
      %li
        Wine shop with top quality wine
      %li
        Refreshment room
      %li
        Rent-a-bike or rent-a-car
      %li
        Organized transport from the airport or other towns
      %li
        Organized trips
      %li
        The possibility of walks and hiking
      %li
        Slovene culinary art - Gostišče Jurg – 10 minutes on foot, 5 minutes by car
      %li
        Oganized visits to the organ workshop of Škrabl – a very unique experience
