#container
  #content
    %p= image_tag "pictures/mini.jpg", :align => "right", :style => "margin:40px 20px 0 0;", :width => "300px"
    %h1 Пансион Nočitve Angelina
    %p{:style => "width:500px;"}
      Pасположен в уютной деревеньке Тополе, находящейся всего в двух километрах от центра Рогашки Слатины. Лежит он среди нетронутой девственной природы, в приятном соседстве с домом семьи Шкрабл, которая более 20 лет занимается производством музыкальных органов.
    %br/
    %p
      На ряду с этим мы решили обогатить и нашу  туристическую программу. Из пансионата открывается восхитительный вид на местные словенские окрестности, начиная с Козианских холмов до Камнишких Альп, а также в соседнюю Хорватию. В объятиях тихой природы и полного спокойствия, душа и тело снова обретают мир. Гостям предоставляется возможность расслабляющего отдыха в отличных номерах, в массажном бассейне, в сауне, на массаже, а также в словенской винотеке за бокалом отличного вина.
    %br/
    %p
      Полное предложение услуг переплетается с природой и гармонией музыкальных веяний. Помимо проживания в пансионате, как для индивидуальных гостей так и для групп предлагаются различные виды обучения.
      Все гости приглашены на осмотр мастерской Шкрабл, где можно увидеть и понять, как рождается классический музыкальный инструмент – орган, заслуженно получивший название короля музыкальных инструментов.
    %br/
    %br/
    %h2 Предлагаем услуги:
    %ul{:style => "margin-left:15px;"}
      %li
        Размещение на основе ВВ
      %li
        Массажный подогретый бассейн на 7 человек
      %li
        Сауна на 6 человек
      %li
        Профессиональные массажи
      %li
        Винотека отличных словенских вин
      %li
        Столовая
      %li
        Аренда велосипеда, автомобиля
      %li
        Организованные трансферы из аэропорта и других мест
      %li
        Организованные экскурсии
      %li
        Прогулки
      %li
        Словенская национальная кухня – Гостишче Юрг, в 10 минутах ходьбы или 5 минутах езды на машине
      %li огранизованные экскурсии мастерской Шкрабл
