#container
  #content
    %p= image_tag "pictures/mini.jpg", :align => "right", :style => "margin:40px 20px 0 0;", :width => "300px"
    %h1 Residenza Angelina
    %p{:style => "width:500px;"}
      La »Residenza Angelina« si trova in un villaggio idilliaco, Topole, a soli 2 km di distanza dal centro di Rogaška Slatina.
      Oltre ad offrire degli eccellenti alloggi moderni in una delle zone più belle d'Europa, da oltre venti anni la famiglia Škrabl produce organi a canne tra i migliori al mondo nella sua fabbrica di Brestovec.
    %br/
    %p
      Dalla »Residenza Angelina« si gode una bellissima vista della regione: delle colline di Kozjansko, fino ai monti delle Alpi Giulie e verso la Croazia. Nella natura e tranquillità il corpo e l'anima ritroveranno pace e quiete. I nostri ospiti potranno rilassarsi nelle camere comode e moderne, nella jacuzzi con l'acqua riscaldata, nella sauna, facendo qualche massaggio o assaggiando i vini di classe della Slovenia.
    %br/
    %p
      L'offerta della nostra casa è integrata con la natura e con i suoni armoniosi della musica. Ai singoli ospiti o ai gruppi che vogliono partecipare ai diversi corsi d'educazione. Tutti gli ospiti sono cordialmente invitati a visitare la fabbrica d'organi Škrabl, dove potranno assistere alla fabbricazione di un organo classico che, senza dubbio, è il re degli strumenti musicali.
    %br/
    %br/
    %h2 Le nostre offerte:
    %ul{:style => "margin-left:15px;"}
      %li pernottamento con la prima colazione
      %li jacuzzi con acqua riscaldata per 7 persone
      %li sauna per 6 persone
      %li poltrona automassaggiante professionale
      %li enoteca con vini di classe
      %li sala per spuntini
      %li noleggio biciclette o autovetture
      %li trasferimento organizzato dagli aeroporti o dalle altre città
      %li gite organizzate
      %li possibilità per passeggiate e trekking
      %li offerta culinaria slovena nella Trattorial Jurg – a piedi 10 minuti, con l'auto 5 minuti
      %li visita guidata della fabbrica d'organi Škrabl
