#container
  #content
    %p= image_tag "pictures/mini.jpg", :align => "right", :style => "margin:40px 20px 0 0;", :width => "300px"
    %h1 Nočitve Angelina
    %p{:style => "width:500px;"}
      Nočitve Angelina se nahajajo v prijetni vasici Topole, katera ja oddaljena 2 km od središča Rogaške Slatine.  Prenočitven kompleks se nahaja v neokrnjeni naravi ob prijetnem domovanju družine Škrabl.
    %br/
    %br/
    %p
      Družina Škrabl se že več kot dvajset let ukvarja z ustvarjanjem orgel. Poleg te dejavnosti pa smo popestrili tudi ponudbo na področju prenočitev. Iz Nočitev Angelina se odpre prekrasen razgled na prečudovito slovensko pokrajino vse od Kozjanskega hribovja tja do Kamniških Alp in v sosednjo Hrvaško. V objemu narave in popolnega miru najdeta duša in telo zopet svoj mir. Gosti imajo možnost sprostitve v prekrasnih sobah, v masažnem ogrevanem bazenu, v savni, v masaži in v prijetni vinoteki ob prvovrstni slovenski vinski kapljici. Celovrstna ponudba storitev je povezana z naravo in s pridihom glasbene harmonije.
    %br/
    %br/
    %p
      V Nočitvah Angelina imajo individualni gostje in razne skupine priložnost različnega izobraževanja. Vsi gostje so tudi vljudno vabljeni na ogled Orglarske delavnice Škrabl, kjer lahko spoznajo kako nastajajo klasične orgle, ki so upravičeno prejele vzdevek „Kraljica glasbenih instrumentov“.
    %h2 Nudimo Vam:
    %ul{:style => "margin-left:15px;"}
      %li Prenočišče z zajtrkom
      %li Masažni ogrevani bazen za 7 oseb
      %li Savna za 6 oseb
      %li Profesionlani masažni stol
      %li Vinoteko z vrhunskimi vini
      %li Prostor okrepčevalnica
      %li Možnost izposoje koles ali avta
      %li Organizirani prevozi iz letališč in drugih mest
      %li Organizirani izleti
      %li Možnost sprehodov in pohodov
      %li
        Slovenska kulinarika
        %a{:href => "http://www.gostiscejurg.si/"} Gostišče Jurg
        – peš 10 minut, z avtom 5 minut
      %li Organizirani ogledi orglarstva Škrabl
    #content
      %h1 Kontakt
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr
          %td{:valign => "top", :width => "50%"}
            %h2 Kontaktni podatki
            #contact
              Zofija Škrabl
              %br/
              %br/
              E-mail:
              %ul
                %li info@n-angelina.si
                %li zofija@n-angelina.si
                %li zofi.skrabl@siol.net
              %br/
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "300px"}
                %tr
                  %td{:valign => "top"}
                    Telefon:
                  %td +386 (0)82 051 950
                %tr
                  %td{:valign => "top"}
                    Fax:
                  %td +386 (0)82 051 353
                %tr
                  %td{:valign => "top"}
                    GSM:
                  %td +386 (0)51 346 872
          %td{:valign => "top"}
            %h2 Naslov
            #contact
              %b NOČITVE ANGELINA
              %br/
              Zofija Škrabl s.p.
              %br/
              Topole 17 A
              %br/
              3250 Rogaška Slatina
              %br/
              SLOVENIJA - EU
              %br/
