#container
  #content
    %h1 Prireditve
    %p
    %div{:style => "height:250px;"}
      / %img{:align => "left", :src => "../images/kultura/rogaska-park.jpg", :style => "margin:0 30px 0 0;", :width => "300px"}/
      = image_tag 'angelina/culture/rogaska-park.jpg', :style => "margin:0 30px 0 0;", :width => "300px", align: 'left'
      %h2 Evropska ploščad - Rogaška Slatina
      Evropska ploščad se nahaja v središču Rogaške Slatine, kjer je veliko zabavnih prireditev na prostem skoraj vsak vikend.
      %br/
      %br/
      Več o tem si lahko pogledate na
      %a{:href => "http://www.kozjansko.info/component/eventlist/venueevents/21-evropska-pload-rogaka-slatina.html"} www.kozjansko.info
    %div{:style => "height:250px;"}
      %img{:align => "right", :src => "../images/kulturni.jpg", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Kulturni dom Rogaška Slatina
      Tudi v kulturnem domu v Rogaški Slatini se dogaja veliko prireditev kot so glasbene prireditve ali kino predstave.
      %br/
      %br/
      Vse tekoče dogodke lahko preverite na tem naslovu:
      %br/
      %a{:href => "http://www.rogaska-slatina.si/index.php?id=64"} www.rogaska-slatina.si
