#container
  #content
    %h1 Kje Smo
    %strong Opozorilo*
    %p
      Če v avtu uporabljate navigacijo, prosimo najprej navedite kot cilj center Rogaške Slatine s poštno številko 3250. Še le ko pridete v center vnesite naslov od apartmajev: Topole 17a.
    %br
    %br
    #gallery{:style => "height:300px"}
      = link_to asset_path('angelina/europa_slo_big.png'), class: 'touch' do
        = image_tag 'angelina/europa_slo.png', align: 'left', style: 'margin-right:25px; border:0;'
      %br
      %br
      Slovenija leži v središču evrope med Italijo, Avstrijo in Hrvaško, pravtako se malo dotika tudi Madžarske.
      %br
      Na zemljevidu je označena z rdečo barvo.
    #gallery{:style => "height:250px"}
      = link_to asset_path('angelina/slovenia_map_big.png'), class: 'touch' do
        = image_tag 'angelina/slovenia_map.png', align: 'right', style: 'margin-left:25px'
      / %a{:href => "../images/slovenia_map_big.png"}
      /   %img#map_box{:align => "right", :src => "../images/slovenia_map.png", :style => "margin-left:25px"}/
      %br/
      %br/
      Nočitve Angelina se nahajajo v Rogaški Slatini. To je čudovito mesto na vzhodu Slovenije, ne daleč od avtoceste.
      %br/
      %br/
      %strong Koordinate
      %br/
      Longitude: +46° 13' 46.84" (46.229678)
      %br/
      Latitude: +15° 36' 52.14" (15.614482‎)
    %br/
    %br/
    .map-rogaska
      %center
        = link_to asset_path('angelina/rogaska_map_big.jpg'), class: 'touch' do
          = image_tag 'angelina/rogaska_map_big.jpg', width: 500, style: 'margin-left:25px'
    %center.google-map
      Podrobneje lahko vidite tudi ulico v kateri se nahajamo.
      %br
      %br
      %div{:style => "text-align:center"}
        %iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&hl=sl&msa=0&msid=114185771512524664440.000492bb92cedfc01da21&ll=46.23424,15.622816&spn=0.028498,0.054932&z=14&iwloc=000492bb966473bc6ef0a&output=embed", :width => "640"}
        %br/
        %small
          View
          %a{:href => "http://maps.google.com/maps/ms?ie=UTF8&hl=sl&msa=0&msid=114185771512524664440.000492bb92cedfc01da21&ll=46.23424,15.622816&spn=0.028498,0.054932&z=14&iwloc=000492bb966473bc6ef0a&source=embed", :style => "color:#0000FF;text-align:left"} Night Lodging Angelina
          on a bigger map.
