Število obiskov:
:javascript
  var sc_project = 6697095;
  var sc_invisible = 0;
  var sc_security = "69ef782b";
  var sc_text = 1;
%script{:src => "http://www.statcounter.com/counter/counter.js", :type => "text/javascript"}
%noscript
  .statcounter
    %a{:href => "http://statcounter.com/tumblr/", :target => "_blank", :title => "tumblr stats"}
      %img.statcounter{:alt => "tumblr stats", :src => "http://c.statcounter.com/6697095/0/69ef782b/0/"}/
%br/
