%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "34px"}
  %tr
    %td#menu_first
    %td#menu_item.tabs
      = link_to t('menu.home'), static_home_path, id: 'menu_link', class: active_for(:home)
    %td#menu_item
      = link_to t('menu.pricing'), static_pricing_path, id: 'menu_link', class: active_for(:pricing)
    %td#menu_item
      = link_to t('menu.gallery.title'), static_gallery_path, id: 'menu_link', class: active_for(:gallery)
      .dropdown
        %ul
          %li
            = link_to t('menu.gallery.3d'), 'http://3d.n-angelina.si'
          - Album.all.each do |album|
            %li
              = link_to album.localized_name, static_gallery_content_path(album)
    %td#menu_item
      = link_to t('menu.about.title'), static_about_path, id: 'menu_link', class: active_for(:about)
      .dropdown
        %ul
          %li
            = link_to t('menu.about.position'), static_map_path
          %li
            = link_to t('menu.about.skrabl'), "http://www.skrabl.com"
    %td#menu_item
      = link_to t('menu.activities.title'), static_events_path, id: 'menu_link', class: active_for(:activities)
      .dropdown
        %ul
          %li
            = link_to t('menu.activities.events'), static_events_path
          %li
            = link_to t('menu.activities.culture'), static_culture_path
          %li
            = link_to t('menu.activities.sport'), static_sport_path
    %td#menu_item
      = link_to t('menu.contact.title'), static_contact_path, id: 'menu_link', class: active_for(:contact)
      .dropdown
        %ul
          %li
            = link_to t('menu.contact.writeus'), static_writeus_path
          %li
            = link_to t('menu.contact.card'), static_contact_path
    %td#menu_last
