#sponsors
  %span#sponsor
    %a{:href => "http://www.skrabl.com/"}
      = image_tag "sponsors/skrabl_logo.png"
  %span#sponsor
    %a{:href => "http://www.gostiscejurg.si/"}
      = image_tag "sponsors/jurg.png"
