= form_for @album, html: { class: 'form-horizontal' } do |f|
  - if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    .col-sm-offset-2.col-sm-10
      %h4 Pozicija

  .form-group
    = f.label :position, "Position 1-#{Album.count}", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :position, class: 'form-control'

  %hr
  .form-group
    .col-sm-offset-2.col-sm-10
      %h4 Ime

  - I18n.available_locales.each do |locale|
    .form-group
      = f.label [locale, :name].join('_'), [locale, :ime].join(' ').humanize, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field [locale, :name].join('_'), class: 'form-control'


  %hr
  .form-group
    .col-sm-offset-2.col-sm-10
      %h4 Slika

  .row
    .col-sm-5.col-sm-offset-2
      .form-group
        = f.label :image, "Slika", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.file_field :image, class: 'direct-upload form-control'
          .helper-text
            = image_tag(@album.image) if @album.image

    .col-sm-5
      .form-group
        = f.label :hover_image, "Aktivna slika", class: 'col-sm-2 control-label'
        .col-sm-10
          = f.file_field :hover_image, class: 'direct-upload form-control'
          .helper-text
            = image_tag(@album.hover_image) if @album.hover_image


  %hr
  .form-group
    = f.label :images, "Slike", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.file_field :images, multiple: true, class: 'direct-upload form-control'
      %br
      %small Klikni na sliko za izbris
      - unless @album.new_record?
        %small
          = link_to "Izbriši vse", album_remove_images_path(@album), :method => :delete, :data => { :confirm => 'Ste prepričani?' }
      .helper-text
        - @album.images.each_with_index do |image, i|
          = link_to album_remove_image_path(@album, i), :method => :delete, :data => { :confirm => 'Ste prepričani?' }, remote: true, id: i do
            = image_tag image, height: 100

  %hr
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Posodobi', class: 'btn btn-primary'
      = link_to 'Nazaj', albums_path, class: 'btn btn-default'

= render 'shared/upload_script', format: :js
