%h1 Vsi albumi

%table.table
  %tr
    %th{style: 'width: 30px'} Pozicija
    %th{style: 'width: 150px'} Slika
    %th{style: 'width: 150px'} Aktivna slika
    %th{style: 'width: 400px'} Name
    %th Slike
    %th Akcije

  - @albums.order(:position).each do |album|
    %tr
      %td= album.position
      %td= image_tag(album.image, width: 150)
      %td= image_tag(album.hover_image, width: 150)
      %td= album.name.map{|n| n.join(': ')}.join('<br>').html_safe
      %td.images
        - album.images.each do |image|
          = image_tag image, height: 30
      %td
        = link_to 'Uredi', edit_album_path(album), class: 'btn btn-default'
        = link_to 'Izbriši', album, :method => :delete, :data => { :confirm => 'Ste prepričani?' }, class: 'btn btn-danger'

%center
  = link_to 'Ustvari Album', new_album_path, class: 'btn btn-primary'
