%p#notice= notice

%p
  %b Image:
  = image_tag(@album.image_url)
%p
  %b Hover image:
  = image_tag(@album.hover_image_url)
%p
  %b Name:
  = @album.name

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
