#container
  #content
    %h1 Galerija
    #phocagallery
      %table{:align => "center", :border => "0", :width => "100%"}
        - Album.all.order(:position).each_slice(3).to_a.each do |row|
          %tr
            - row.each do |album|
              %td{:align => "center", :onclick => "document.location='#{static_gallery_content_path(album)}'", :valign => "middle"}
                = image_tag(album.image, onmouseout: "this.src='#{album.image}'", onmouseover: "this.src='#{album.hover_image}'")
                .phocaname= album.localized_name

