#container
  #content
    %h1 Galerija - #{@album.localized_name}
    #thumbs
      - @album.images.each do |image|
        = link_to '', image, style: "background-image:url(#{image.html_safe})"

    %center
      = link_to "<-- Nazaj", static_gallery_path
