!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Angelina

    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{rel: "icon", type: "image/gif", href: "/favicon.gif"}

    %link{href: "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}

  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-custom"}
    %nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
            %i.fa.fa-bars
          = image_tag 'logo.png', width: 220, class: 'logo'

        .navbar-header.page-scroll{style: 'padding: 26px; text-transform: none'}
          = link_to "+386 (0)82 051 950", "tel:0038682051950", style: 'color: #b93a3e'
          %br
          = link_to "info@n-angelina.si", "mailto:info@n-angelina.si", style: 'color: #b93a3e'

        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            %li.page-scroll
              = link_to 'SLOVENŠČINA', static_home_path(locale: :sl)
            %li.page-scroll
              = link_to 'ENGLISH', static_home_path(locale: :en)
            %li.page-scroll
              = link_to 'DEUTSCH', static_home_path(locale: :de)
            %li.page-scroll
              = link_to 'ITALIANO', static_home_path(locale: :it)
            %li.page-scroll
              = link_to 'РОССИЮ', static_home_path(locale: :ru)

    #myCarousel.carousel.slide

      / Indicators
      / %ol.carousel-indicators
      /   %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      /   %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      /   %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}

      / Wrapper for slides
      .carousel-inner
        .item.active
          .fill{style: "background-image:url(#{asset_path('landing/map.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/suite.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/suite2.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/room.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/dining.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/bathroom.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/jacuzzi.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.
        .item
          .fill{style: "background-image:url(#{asset_path('landing/sauna.jpg')});"}
          .carousel-caption
            %h1 Inspiration. Satisfaction. Angelina.


    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
