#container
  #content
    %h1{:style => "text-align:center;"}= t "pricing.title"
    %p{:style => "text-align:center;"}= t "pricing.notice"

    %table#cenik{:align => "center", :border => "0", :width => "70%"}
      %tr
        %td{:colspan => "2"}
          %h2= t "pricing.rooms"
      %tr.element
        %td{:width => "70%"}= t "pricing.double_room"
        %td{:style => "text-align: right"} 50,00 €
      %tr.element
        %td= t "pricing.single_room"
        %td{:style => "text-align: right"} 30,00 €
      %tr.element
        %td= t "pricing.breakfast"
        %td{:style => "text-align: right"} 5,00 €
      %tr{:height => "20px"}
        %td{:colspan => "2"}  
      %tr
        %td{:colspan => "2"}
          %h2= t "pricing.apartments"
      %tr.element
        %td= t "pricing.apartment"
        %td{:style => "text-align: right"} 50,00 €
      %tr.element
        %td= t "pricing.apartment_breakfast"
        %td{:style => "text-align: right"} 5,00 €
      %tr{:height => "20px"}
        %td{:colspan => "2"}  
      %tr
        %td{:colspan => "2"}
          %h2= t "pricing.supplements"
      %tr.element
        %td= t "pricing.tax"
        %td{:style => "text-align: right"} 1,27 €
      %tr.element
        %td= t "pricing.tax_children"
        %td{:style => "text-align: right"} 0,63 €
      %tr.element
        %td= t "pricing.day_rest"
        %td{:style => "text-align: right"} 19,50 €
      %tr.element
        %td= t "pricing.pets"
        %td{:style => "text-align: right"} 5,00 €
      %tr.element
        %td= t "pricing.laundry"
        %td{:style => "text-align: right"} 7,00 €
      %tr{:height => "20px"}
        %td{:colspan => "2"}  
      %tr
        %td{:colspan => "2"}
          %h2= t "pricing.discounts"
      %tr.element
        %td= t "pricing.discount"
        %td{:style => "text-align: right"} 30%
      %tr{:height => "20px"}
        %td{:colspan => "2"}  
      %tr
        %td{:colspan => "2"}
          %h2= t "pricing.children"
      %tr
        %td{:colspan => "2", :height => "92"}
          %table.popusti{:border => "1", :bordercolor => "#ba5f61", :bordercolordark => "#ba5f61", :bordercolorlight => "#ba5f61", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "center"}= t "pricing.age"
              %td{:width => "18%"}
                %div{:align => "center"} < 2 #{t "pricing.2years"}
              %td{:width => "18%"}
                %div{:align => "center"} 3 - 5 #{t "pricing.years"}
              %td{:width => "18%"}
                %div{:align => "center"} 6 - 12 #{t "pricing.years"}
              %td{:width => "18%"}
                %div{:align => "center"} 13 - 16 #{t "pricing.years"}
            %tr
              %td= t "pricing.discount1"
              %td
                %div{:align => "center"}= t "pricing.free"
              %td
                %div{:align => "center"}= t "pricing.free"
              %td
                %div{:align => "center"}= t "pricing.free"
              %td
                %div{:align => "center"} 30 %
            %tr
              %td= t "pricing.discount2"
              %td
                %div{:align => "center"}= t "pricing.free"
              %td
                %div{:align => "center"}= t "pricing.free"
              %td
                %div{:align => "center"} 50 %
              %td
                %div{:align => "center"} 30 %
            %tr
              %td= t "pricing.discount3"
              %td
                %div{:align => "center"} 30 %
              %td
                %div{:align => "center"} 30 %
              %td
                %div{:align => "center"} 30 %
              %td
                %div{:align => "center"} 30 %
      %tr{:height => "20px"}
        %td{:colspan => "2"}  
      %tr{:height => "20px"}
        %td{:align => "center", :colspan => "2"}= t "pricing.vat"
