#container
  #content
    %h1 Write us

    - if params[:debug] == '1'
      %p
        - if true
          = succeed "Email" do
            %img{:src => "../images/Check-icon.png"}
        - else
          = succeed "Error" do
            %img{:src => "../images/Delete-icon.png"}

    %p= flash[:notice]
    = form_tag(static_writeus_path, method: :post, style: "font-size:14px; margin-left:20px;") do
      / %form{:action => "/writeus", :method => "post", :style => "font-size:14px; margin-left:20px;"}
      Enter your name:
      %br/
      %input{:name => "post[name]", :type => "text"}/
      %br/
      Enter your E-mail:
      %br/
      %input{:name => "post[email]", :type => "email"}/
      %br/
      Subject:
      %br/
      %input{:name => "post[subject]", :type => "text"}/
      %br/
      Message:
      %br/
      %textarea{:cols => "50", :name => "post[message]", :rows => "10"}
      %br/
      %input{:name => "post[copy]", :type => "checkbox", :value => "1"}/
      %label Send a copy to my email.
      %br/
      %br/
      %input{:name => "send_email", :type => "submit", :value => "Send"}/
