#container
  #content
    %h1 Športne aktivnosti
    %p
    %div{:style => "height:250px;"}
      %img{:align => "left", :src => "../images/kultura/terme_rogaska.jpg", :style => "margin:0 30px 0 0;", :width => "300px"}/
      %h2 Terme Rogaška
      Če bi se radi okopali in naplavali lahko izberete Terme Rogaška. Mirno kopališče v Rogaški Slatini, kjer lahko uživate v savni ali masažnih bazenih.
      %br/
      %br/
    %div{:style => "height:250px;"}
      %img{:align => "right", :src => "../images/kultura/kolesarjenje.jpg", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Kolesarjenje
      Pri nas si lahko sposodite kolo in se z njim odpravite na ogled Rogaške Slatine, saj imamo odlično kolesarsko pot.
      %br/
      %br/
      Lahko si pogledate tudi naše kolesarsko društvo:
      %a{:href => "http://www.kk-rogaska.si/"} www.kk-rogaska.si
    %div{:style => "height:250px;"}
      %img{:align => "left", :src => "../images/kultura/rogla.jpg", :style => "margin:0 30px 0 0;", :width => "300px"}/
      %h2 Smučanje na Rogli
      Pozimi nikoli ne primanjkuje smučanja. Rogla je odlično mesto kjer lahko smučate in uživate.
      %br/
      %br/
