#container
  #content
    %h1 Kulturna Dediščina
    %p
    %div{:style => "height:250px;"}
      %a{:href => "http://www.skrabl.com/"}
        %img{:align => "right", :height => "100px", :src => "../images/skrabl_logo.png", :style => "margin:30px 60px 0 0; border:0;"}/
      %h2 Orglarstvo Škrabl
      Gostišče Jurg, ki že vrsto let skrbi za zadovoljstvo gostov, je ponovno, v nekoliko prenovljeni podobi, odprlo svoja vrata. Tako se med zelenimi kozjanskimi griči in sončnimi vinorodnimi pobočji skriva tudi naselje Jurg, po katerem je gostišče dobilo ime.
      %br/
      %br/
      %a{:href => "http://www.skrabl.com/"} www.skrabl.com
    %div{:style => "height:250px;"}
      %img{:align => "left", :height => "200px", :src => "../images/kultura/Jurg.png", :style => "margin:0 30px 0 0;"}/
      %h2 Gostišče Jurg - Rogaška
      Gostišče Jurg, ki že vrsto let skrbi za zadovoljstvo gostov, je ponovno, v nekoliko prenovljeni podobi, odprlo svoja vrata. Tako se med zelenimi kozjanskimi griči in sončnimi vinorodnimi pobočji skriva tudi naselje Jurg, po katerem je gostišče dobilo ime.
      %br/
      %br/
      Več si lahko preberete na njihovi spletni strani:
      %a{:href => "http://www.gostiscejurg.si/"} www.gostiscejurg.si
    %div{:style => "height:250px;"}
      %img{:align => "right", :src => "../images/kultura/junez.jpg", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Juneževa domačija
      Obnovljena stara kmečka hiša s črno kuhinjo iz 19. stoletja z izvirno opremo in inventarjem. Hiša je bila naseljena do začetka osemdesetih let prejšnjega stoletja in je edina v bližnji okolici zdravilišča Rogaška Slatina.
      %br/
      %br/
    %div{:style => "height:250px;"}
      %img{:align => "left", :src => "../images/kultura/muzej_rogatec.jpg", :style => "margin:0 30px 0 0;", :width => "300px"}/
      %h2 Muzej na prostem - Rogatec
      Muzej na prostem Rogatec je doslej največji muzej na prostem na Slovenskem. V njem je predstavljeno življenje in delo kmetov in obrtnikov 19. in začetka 20. stoletja z območja Rogatca, predvsem s pobočij Boča, Donačke gore in Maclja.
      %br/
      %br/
      Več si lahko preberete na njihovi spletni strani:
      %a{:href => "http://www.muzej-rogatec.si/"} www.muzej-rogatec.si
    %div{:style => "height:250px;"}
      %img{:align => "right", :src => "../images/kultura/strmol.jpg", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Grad Strmol
      Grad Strmol v Rogatcu je dobil ime po svojih prvih lastnikih, Strmolskih in tako spada med redke gradove v Sloveniji, ki so v vsej svoji zgodovini ohranili slovensko ime.
      %br/
      %br/
    %div{:style => "height:250px;"}
      %img{:align => "left", :src => "../images/kultura/rogaska-park.jpg", :style => "margin:0 30px 0 0;", :width => "300px"}/
      %h2 Park Rogaška Slatina
      Rogaška Slatina je znana tudi po zelo lepem parku in Evropski ploščadi, kjer se velikokrat odvijajo tudi kakšne zanimive prireditve.
      %br/
      %br/
      Več o teh prireditvah lahko pogledate na
      %a{:href => "http://www.kozjansko.info/component/eventlist/venueevents/21-evropska-pload-rogaka-slatina.html"} www.kozjansko.info
    %div{:style => "height:250px;"}
      %img{:align => "right", :src => "../images/kultura/rogaska.gif", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Steklarna Rogaška
      Umetnost ustvarjanja kristala temelji na spoštovanju dolgoletne tradicije in vrhunskem strokovnem znanju v kombinaciji z naprednimi rešitvami ter novimi oblikovnimi pristopi.
      %br/
      %br/
      Steklarna Rogaška:
      %br/
      %a{:href => "http://www.steklarna-rogaska.si/"} www.steklarna-rogaska.si
    %div{:style => "height:250px;"}
      %img{:align => "left", :src => "../images/kultura/donat.jpg", :style => "margin:0 20px 0 0;", :width => "300px"}/
      %h2 Donat MG
      Rogaška je znana tudi po mineralni vodi Donat MG. Naravne mineralne vode imajo lahko posebno sestavo, fizikalne in kemijske lastnosti, zaradi česar imajo mnoge koristne prehranske in fiziološke učinke na naše telo.
      %br/
      %br/
      Več si lahko pogledate na
      %a{:href => "http://www.donatmg.net/si/index.php"} www.donatmg.net
