// CSS Document
//
// COLORS
//
// Bela Kava:          #eaea3d
// Orglarstvo Škrabl Rdeca:   #930408
// 940509

//= require gallery/touch_touch
//= require_self

#intro_link
  color: #940509
  font-weight: bold
  font-size: 18px
  font-family: Georgia, "Times New Roman", Times, serif
  text-transform: uppercase
  border: 0
  &:hover
    border-bottom: 2px solid #940509

body
  background-color: #fff
  background-image: asset-url("angelina/backgrounds/body.jpg")
  background-position: top
  background-repeat: repeat-x
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif
  color: #333
  margin: 0
  margin-top: 0
  text-align: center

/************** NEW TABLE CENTER BODY *************

#t_head
  width: 1003px
  height: 219px
  border: 0
  /*
  /* background:url(../images/backgrounds/body/head.png);
  /* background-repeat:no-repeat;
  /* background-position:center;

#t_left
  width: 20px
  background: asset-url("angelina/design/left.gif")
  background-repeat: repeat-y
  background-position: top left
  background-color: #eadec6

#t_center
  background-color: #eadec6

#t_right
  width: 20px
  background: asset-url("angelina/design/right.gif")
  background-repeat: repeat-y
  background-position: top right
  background-color: #eadec6

#b_left
  width: 20px
  height: 20px
  background: asset-url("angelina/design/left_b.gif")
  background-repeat: no-repeat
  background-position: top left

#b_center
  height: 20px
  background: asset-url("angelina/design/bottom.gif")
  background-repeat: repeat-x
  background-position: top

#b_right
  width: 20px
  height: 20px
  background: asset-url("angelina/design/right_b.gif")
  background-repeat: no-repeat
  background-position: top right

#sponsors
  /*background: #DDD;
  /*border: 1px solid #9b1b30;
  height: 100px
  text-align: center
  padding-top: 30px

#sponsor
  margin: 0 80px 0 80px

/*********************************
/************** MENU NAVIGATION TABLE *********************

#menu_first
  width: 5px
  height: 34px
  background: asset-url("angelina/menu/left.gif")
  background-repeat: no-repeat

#menu_item
  width: 110px
  height: 34px
  background: asset-url("angelina/menu/menu.gif")
  background-repeat: no-repeat

#menu_link
  display: block
  width: 110px
  height: 34px
  text-align: center
  color: #FFFFFF
  /*#930408;
  background-image: asset-url("angelina/menu/menu.gif")
  background-repeat: no-repeat
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif
  font-size: 14px
  text-transform: uppercase
  font-weight: bold
  text-decoration: none
  margin: 0
  padding: 8px 0 0 0
  border: none
  &:hover
    width: 110px
    height: 34px
    background: asset-url("angelina/menu/hover.gif")
    background-repeat: no-repeat
  &.active
    background-image: asset-url("angelina/menu/hover.gif")
    background-repeat: no-repeat
    color: #FFF

#menu_last
  width: 5px
  height: 34px
  background: asset-url("angelina/menu/right.gif")
  background-repeat: no-repeat

/************************************************

#container
  width: 950px
  margin: 0 auto
  padding: 5px 0 0 0

#content
  margin: 0 10px 50px 10px
  /*background-image:url(../images/backgrounds/content.jpg);
  background-position: top right
  background-repeat: no-repeat
  padding: 30px 10px 10px 10px
  text-align: left
  line-height: 20px
  word-spacing: 2px
  h1
    font-family: Trebuchet MS, sans-serif
    font-size: 24px
    color: #333
    font-weight: normal
    margin: 10px 5px 35px 5px
    letter-spacing: -2px
    border-bottom: 2px solid #940509
    padding: 0 7px 2px 7px
    text-transform: capitalize
    a
      color: #333
      text-decoration: none
      border: none
      &:hover
        color: #666
  p
    text-indent: 15px
    margin: 0 15px 0 15px

h2
  font: 120% Verdana
  color: #333
  border-bottom: 1px dotted #ccc
  margin: 15px 0px 12px 0px

blockquote
  margin: 0
  padding: 5px 15px 5px 15px
  background: #f6f6f6

a
  color: #ab3c3f
  border-bottom: 1px solid #ccc
  text-decoration: none
  &:hover
    color: #940509
    /*border-bottom:1px solid #940509;
  img
    border: none

#contact
  margin: 0 0 0 20px

#footer
  padding: 10px
  border-top: 2px solid #CCC
  text-align: center
  margin: 20px 0 0 0

#cenik
  .element td
    border-bottom: 1px dotted #999
  h2
    border-color: #ba5f61
