#wrapper #header {
position: relative;
z-index: 2;
}
div.dropdown
{
  margin: 0 0 0 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 288px;
  /*top: 315px;*/
  z-index: 999;
  width: 200px;
  display: none;
  border:thin #000;
  background: #af3131 url(<%= asset_path 'fancydropdown/dropdown_shade_yellow.png' %>) no-repeat;
  opacity:0.8;
  filter:alpha(opacity=80);/**/
}


div.dropdown ul li
{
  margin: 12px 10px 0 -30px;
  padding: 0;
  height:20px;
  float: none;
  position: relative;
  list-style: none;
  display: block;
}

div.dropdown ul li a
{
  display: block;
  color:#FFF;
  text-align: left;
  font-size: 16px;
}
