body
  width: 100%
  height: 100%
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif
  color: #fff
  background-color: #000

html
  width: 100%
  height: 100%

h1, h2, h3, h4, h5, h6
  margin: 0 0 35px
  text-transform: uppercase
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight: 700
  letter-spacing: 1px

p
  margin: 0 0 25px
  font-size: 18px
  line-height: 1.5

@media (min-width: 767px)
  p
    margin: 0 0 35px
    font-size: 20px
    line-height: 1.6

a
  color: #28c3ab
  -webkit-transition: all .2s ease-in-out
  -moz-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
  &:hover, &:focus
    text-decoration: none
    color: #176e61

.light
  font-weight: 400

.navbar
  margin-bottom: 0
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
  text-transform: uppercase
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  background-color: #000

.navbar-brand
  font-weight: 700
  &:focus
    outline: 0

.navbar-custom
  a
    color: #fff
  .nav li
    padding: 20px 0

    a
      -webkit-transition: background .3s ease-in-out
      -moz-transition: background .3s ease-in-out
      transition: background .3s ease-in-out
      font-size: 16px
      font-weight: 500
      color: #b93a3e
      &:hover, &:focus
        outline: 0
        background-color: rgba(200, 200, 200, 0.2)
    &.active
      outline: 0
      background-color: rgba(255, 255, 255, 0.2)

.navbar-toggle
  padding: 4px 6px
  font-size: 16px
  color: #fff
  &:focus, &:active
    outline: 0

@media (min-width: 767px)
  .navbar
    padding: 20px 0
    border-bottom: 0
    letter-spacing: 1px
    background: 0 0
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
    transition: background .5s ease-in-out,padding .5s ease-in-out
    background-color: #ffffff
  .top-nav-collapse
    padding: 0
    background-color: #000
  .navbar-custom.top-nav-collapse
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
