<!DOCTYPE html>
<html>
<head>
  <title>Nočitve Angelina - Turistične sobe, Hoteli, Apartmaji, Rogaška Slatina, Slovenija</title>
  <meta name="google-site-verification" content="gD-i8meskUxMuh4rizqQQoIl-Yf1CDSR-5AfXi6fHUc" />
  <link href="/favicon.gif" rel="icon">

  <%= stylesheet_link_tag 'angelina', media: 'all' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'fancydropdown_ie', media: 'all' %>
  <![endif]-->
  <!--[if !IE]><!-->
    <%= stylesheet_link_tag 'fancydropdown', media: 'all' %>
  <!--<![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
  <table style="padding-top:20px" align="center" cellpadding="0" cellspacing="0" border="0" width="1003px">
    <tr>
      <td colspan="3" id="t_head">
        <%= link_to root_path, style: 'border:0;' do %>
          <%= image_tag "angelina/design/head.png", style: "border:0; vertical-align:bottom;" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td id="t_left">&nbsp;&nbsp;&nbsp;</td>
      <td id="t_center">
        <%= render 'shared/menu' %>

        <center>
          <%= link_to t('menu.contact.title'), static_contact_path %>: <a href="tel:0038682051950">+386 (0)82 051 950</a> / <a href="mailto:info@n-angelina.si">info@n-angelina.si</a>
        </center>

        <%= yield %>
      </td>
      <td id="t_right">&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td id="t_left"></td>
      <td id="t_center">
        <%= render 'shared/sponsors' %>
      </td>
      <td id="t_right"></td>
    </tr>
    <tr>
      <td id="b_left"></td>
      <td id="b_center"></td>
      <td id="b_right"></td>
    </tr>
  </table>

  <div id="footer">
    <div style="vertical-align:middle; height:20px">
      <%#= render 'shared/hitcount' %>
    </div>
    <p>&copy; Copyright 2010 Nočitve Angelina. Vse pravice pridržane. &copy;</p>
  </div>

  <%= javascript_include_tag 'angelina' %>
</body>
</html>
